      <tr id= <%= dom_id(movie) %>>
        <td><%= link_to movie.title, edit_movie_element_path(id: movie.id, element: "title") %></td>
        <td><%= link_to movie.year, edit_movie_element_path(id: movie.id, element: "year") %></td>
        <td><%= link_to movie.director.name, edit_movie_element_path(id: movie.id, element: "director") %></td>
        <td><%= link_to movie.description, edit_movie_element_path(id: movie.id, element: "description") %></td>
        <td><%= link_to movie.duration, edit_movie_element_path(id: movie.id, element: "duration") %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, remote: true %></td>
      </tr>