var updateMovie = $("#<%= dom_id(@movie)%>_form");

$('#<%= dom_id(@movie) %>_<%= @element %>').keypress(function(e){
  if(e.which == 13){
     $(this).closest('form').submit();
     }
    });

updateMovie.replaceWith("<div id= <%= dom_id(@movie) %>_<%= @element %> >
          <%= j(link_to @movie.title, edit_movie_element_path(id: @movie.id, element: "title"), remote: true) %>
          </div>")
