$('#<%= dom_id(@movie) %>_<%= @element %>_form').keypress(function(e){
  if(e.which == 13){
     $(this).closest('form').submit();
     }
    });

$('#<%= dom_id(@movie) %>_<%= @element %>_form').replaceWith("<div id= <%= dom_id(@movie)+'_'+@element %>> <%= j(link_to @movie.send(@element) , edit_movie_element_path(id: @movie.id, element: @element ), remote: true) %> </div>");



          
